<div id="sms-widget" class="container">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3 col-sm-1 col-md-1 col-sm-offset-0 col-md-offset-0 col-lg-offset-0">
      <div class="sms-icon">
        <img class="banner-ad-img" src="/assets/images/sms-icon_1x.png" data-src@2x="images/sms-icon_2x.png"/>
      </div>
    </div>
    <div class="col-xs-10 col-xs-offset-1 col-sm-7 col-md-6 col-sm-offset-0 col-md-offset-0 col-lg-offset-0">
      <h4 class="sms-header">Get Text Updates</h4>
      <p class="sms-body-text">Know when your package is on the way, about to arrive, and gets delivered.</p>
      <div ng-if="responseMessage"><p class="sms-response-msg">{{responseMessage}}</p></div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-5 col-sm-offset-0 col-md-offset-0 col-lg-offset-0">
      <input class="col-xs-12 col-md-12 sms-input" id="sms-input" type="tel" name="sms-phone" placeholder="{{placeholderPhone}}" />
      <a href="#" class="sms-widget-btn pull-right" id="sms-signup">Sign Up</a>
    </div>
  </div>
</div>
