doctype html
html
  head
    base(href="/")
    meta(name="viewport", content="initial-scale=1, maximum-scale=1, user-scalable=no")
    title= title
    include partials/persist-user-to-localstorage
  body
    div
