doctype html
html
  head
    base(href="/")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= title
    include partials/persist-user-to-localstorage
    link(rel="stylesheet", href="/assets/css/vendor.css")
    link(rel="stylesheet", href="/assets/css/style.css")
    script(type="text/javascript", src="/assets/js/vendor.js")
    script(type="text/javascript", src="/assets/js/templates.js")
    script(type="text/javascript", src="/assets/js/main.js")
  body(ng-app="narvar",id="ng-app", ng-controller="RootCtrl as rootCtrl")
    header-widget(img="http://49.media.tumblr.com/tumblr_lrbu1l9BJk1qgzxcao1_250.gif",text="Nyan!",link="http://www.nyan.cat/",align="right")
    div(ng-view)
      block content
    footer-widget
