
calendar-widget

survey-widget(steps="stars, timing, comment, complete")

faq-widget(type="slides")

tracking-status-widget(align="center")

sms-widget(
  retailer-name   = "Narvar",
  carrier-name    = "Narvar",
  success-message = "You have successfully signed up for SMS.",
  error-message   = "Please enter a valid number."
)

edd-widget(
  where-is-my-package-click-text = "Where is my package?",
  where-is-my-package-message    = "A message for where is my package.."
  contact-info-click-text        = "Contact us"
)
