
survey-widget(steps="stars, timing, comment, complete")

faq-widget(type="slides")

tracking-status-widget(align="center")

sms-widget(
  retailer-name   = "Narvar",
  carrier-name    = "Narvar",
  success-message = "You have successfully signed up for SMS.",
  error-message   = "Please enter a valid number."
)
