faq-widget {

  display    : block;
  position   : relative;
  height     : 452px;
  width      : 100%;
  margin     : 0 16px;
  box-sizing : border-box;

  .carousel-indicators-with-controls {
    position     : absolute;
    bottom       : -20px;
    left         : 50%;
    z-index      : 15;
    width        : 60%;
    padding-left : 0;
    margin-left  : -30%;
    text-align   : center;

    .carousel-indicators {
      position     : relative;
      display      : inline-block;
      bottom       : auto;
      left         : auto;
      z-index      : 0;
      width        : auto;
      padding-left : 0;
      margin-left  : 0;
      text-align   : center;
      list-style   : none;

      li {
        border-color : #000;
      }

      .active {
        width            : 10px;
        height           : 10px;
        margin           : 1px;
        background-color : #000;
      }
    }

    a {
      position      : relative;
      width         : 10px;
      height        : 10px;
      display       : inline-block;
      border        : 0;
      border-radius : 0;
      text-indent   : 0;
      color         : #000;

      &:hover {
        color : #000;
      }

      &:before {
        position  : absolute;
        top       : -.62em;
        left      : 0;
        font-size : 1.5em;
      }

      .icon-prev:before {
        content : "\2039";
      }

      .icon-next:before {
        content : "\203a";
      }

    }

  }

  #faq-questions {
    height      : 100%;
    width       : 302px;
    margin-left : -16px;
    overflow-y  : scroll;
    padding     : 0 16px;
    box-sizing  : border-box;
  }

  .question-container {
    width      : 100%;
    height     : auto;
    float      : right;
    box-sizing : border-box;
    margin     : 8px 0;
  }

  .icon-chevron {
    height    : 24px;
    width     : 24px;
    float     : left;
    transform : rotate(-90deg);
  }

  .icon-chevron:hover {
    cursor : pointer;
  }

  .icon-rotated {
    transform : rotate(0deg);
  }

  .question-answer-box {
    margin-left : 8px;
    width       : 238px;
    float       : right;
  }

  .question-box {
    height      : auto;
    min-height  : 24px;
    line-height : 1.2em;
    padding-top : 4px;
  }

  .answer-box {
    height        : auto;
    margin-bottom : 8px;

  }

  .link {
    font-size : 14px;
    color     : #F65300;
    cursor    : pointer;
  }

  .answer-box {
    font-size   : .875em;
    color       : #212121;
    line-height : 1.2em;
  }
}
