<div class="col-xs-12 col-sm-6 col-md-5 col-md-offset-1 col-lg-4 col-lg-offset-2 text-left text-center-xs-down">
  <p><strong>{{caption}}</strong></p>
</div>
<div class="col-xs-12 col-sm-6 col-md-5 col-lg-4 text-center text-right-sm-up">
  <div class="input-group input-group-sm">
    <input type="text" class="form-control" placeholder="{{placeholderText}}" ng-model="value">
        <span class="input-group-btn">
          <button type="button"
                  class="btn btn-sm"
                  ng-class="buttonClass"
                  ng-click="record(value)">Submit
          </button>
        </span>
  </div>
</div>
